NODE_ENV=dev
APP_NAME=Chauffeur bookings
APP_URL=lhttp://localhost:3333
PORT=3333
DB_URI=mongodb://127.0.0.1:27017/messenger-app
APP_SECRETE=my-top-secerete

# postgres
PG_HOST=localhost
PG_PORT=5432
PG_USERNAME=salman
PG_PASSWORD=123456789
PG_DB=urvigo-users

# nodemailer
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USERNAME=casimer.rohan@ethereal.email
SMTP_PASSWORD=mEsa1vyv43v5y8d31R

# kafka
KAFKA_BROKER=localhost:9092

#Bull MQ
ENABLE_BULLMQ=true

#redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=redis_user
REDIS_PASSWORD=redis_password


# ethreal account
# user - Casimer Rohan
# email - casimer.rohan@ethereal.email
# password -mEsa1vyv43v5y8d31R